.pgs-header {
    position: absolute;
    left: 3vw;
    top: 3vw;
    z-index: 100;
}

.logo-dark {
    position: absolute;
    opacity: 0;
    transition: opacity .4s;
}

.logo-white {
    position: absolute;
    opacity: 0;
    transition: opacity .4s;
}

.logo-light {
    position: absolute;
    transition: opacity .4s;    
}

.branding-dark .logo-light,
.branding-white .logo-light {
    opacity: 0;
}

.branding-dark .logo-dark,
.branding-white .logo-white {
    opacity: 1;
}

.pgs-footer {
    border-top: solid 1px white;
    width: 91vw;
    position: absolute;
    bottom: 60px;
    left: 3vw;
    padding-top: 12px;
    pointer-events: none;
}

.branding-dark .pgs-footer {
    border-color: #000;
}

.pgs-footer a {
    color: white;
    pointer-events: all;
    text-decoration: none;
    @apply font-sans;
}

.branding-dark .pgs-footer a {
    color: #000;
}

.click-highlight {
    position: absolute;
    z-index: 22222;
    pointer-events: none;
    opacity: 0;
    animation: highlight 3s ease-out;
    border-radius: 213213px;
    width: 10px;
    height: 10px;
    background-color: rgb(240, 75, 15);
    box-shadow: 0 0 14px 6px rgb(240, 75, 15);
}

.slides-area {
    width: min(132vh, 96vw);
    height: min(70vw, 96vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 222222;
    pointer-events: none;
    stroke: rgb(240, 75, 15);
    stroke-width: 3;
    fill: none;
}

.slides-area path {
    transition: opacity 3s ease-in;
}
.slides-area path.path-fadeout {
    opacity: 0;  
}

@keyframes highlight {
    0%, 100% {
        opacity: 0;
    }
    7% {
        opacity: 1;
    }
}